<template>
    <div>
        <heading class="mb-6">Route Viewer</heading>

        <card>
            <div class="overflow-hidden overflow-x-auto relative">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Route</th>
                        <th>Name</th>
                        <th>Action</th>

                       </tr>
                    </thead>
                    <tbody>
                    <tr v-for="route in routes">
                        <td>{{ route.uri }}</td>
                        <td>{{ route.as }}</td>
                        <td>{{ route.action }}</td>


                    </tr>
                    </tbody>
                </table>
            </div>
        </card>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                routes: [],
            }
        },
        mounted() {
            this.getRoutes();
        },
        methods: {
            getRoutes() {
                Nova.request().get('/nova-vendor/route-viewer/routes').then(response => {
                    this.routes = response.data;
                });
            },
        },
    }
</script>